.views
    height: 45px
    border-width: 5px
    &-username
        font-size: 20px
        line-height: 40px
        width: 100%
        vertical-align: middle


    &-image
        width: 40px
        line-height: 50px
        vertical-align: middle
        