.views
    height: 50px
    font-size: 25px
    &-text
        line-height: 45px
        vertical-align: middle

    &-image
        height: 45px
        width: auto
        line-height: 45px
        vertical-align: middle
        